.form-control.error {
  border: solid 1px #c80005;
}
.md-input.error {
  padding-bottom: 1px;
  border-color: #c80005;
  border-bottom-width: 2px;
}

.md-input.error ~ label {
  top: 0 !important;
  font-size: 0.85em !important;
  color: #c80005;
  opacity: 1;
}
.notification.success {
  margin-top: 3px;
  font-size: 12px;
  color: #398439;
}
.notification.error {
  margin-top: 3px;
  font-size: 12px;
  color: #b13125;
}
select.form-control + .chosen-container.chosen-container-single .chosen-single.error {
  border: 1px solid #c80005;
}
.select2-container .select2-selection--single {
  height: 34px !important;
}
.select2.select2-container.error {
  border: 1px solid #c80005;
}
